* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.border {
  border: 1px solid #003399;
  border-radius: 5px;
  padding: 15px;
}

h1,
div.border {
  margin: 10px;
}

#del-section h2 {
  margin: 20px 0 10px 0;
}

div h2:first-child {
  margin-bottom: 10px;
}

div.do-not-display {
  display: none;
}

h1,
h2 {
  color: #003399;
}

button,
input {
  border-radius: 2px;
  padding: 5px;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 1px solid #66ccff;
}

input {
  border: 1px solid #003399;
  margin-right: 15px;
}

input:focus {
  outline: 1px solid #003399;
}

label {
  margin-right: 5px;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px 12px;
}

th,
button {
  font-weight: bold;
  color: #66ccff;
  background-color: #003399;
}

tr:nth-child(even),
input {
  background-color: #66ccff;
}
